.btn-nous {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 250px;
  left: 17%;
  background: #227235;
  border: none;
  position: absolute;
  border-radius: 8px;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-nous p {
  margin: 0;
}

.btn-nous:hover {
  background: #014ab0;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.decouvrez {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100%;
  left: 0%;
  background: #227235;
  border: none;
  position: absolute;
  top: 250px;
  border-radius: 8px;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.decouvrez p {
  margin: 0;
}

.decouvrez:hover {
  background: #014ab0;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.navMenu {
  margin-right: 4% !important;
  gap: 50px;
  background: white;
}
.navMenu li {
  font-weight: bold;
  font-size: 0.9rem;
  color: black;
}
.navMenu li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
.navMenu :hover {
  background: rgba(85, 80, 80, 0.329);
  color: #227235;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.asLlogo img {
  width: 50%;
}

.lienSociaux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 15%;
  margin: 10px 0 0 0;
  margin-left: auto !important;
}
.lienSociaux img {
  width: 10%;
}

.bmn {
  background-color: transparent !important;
  padding: 0;
  margin: 0 0 70px 0;
}

.menu-deroulent li a {
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.918);
  text-decoration: none;
  font-size: 1.2rem;
}

.cadreImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cadreImage img {
  height: 80%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cadreImage .cadreParagraphe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 5%;
  bottom: 61px;
  height: 340px;
  width: 50%;
  background: rgba(0, 0, 0, 0.5490196078);
  position: absolute;
}
.cadreImage .cadreParagraphe h1 {
  padding: 20px 0 0;
  color: white;
  margin-left: 3%;
}
.cadreImage .cadreParagraphe p {
  margin-left: 3%;
  color: rgba(245, 245, 245, 0.7725490196);
  font-size: 2.5rem;
}

.savoirPlus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 250px;
  top: 680px;
  left: 6.5%;
  background: #227235;
  border: none;
  position: absolute;
  border-radius: 8px;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.savoirPlus p {
  margin: 0;
}

.savoirPlus:hover {
  background: #014ab0;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.cadreFac {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  width: 100%;
}
.cadreFac svg.svg-inline--fa.fa-arrow-left,
.cadreFac svg.svg-inline--fa.fa-arrow-right,
.cadreFac button {
  margin-top: -659px;
  font-size: 2rem;
  color: #227235;
  background: transparent;
  border: none;
  cursor: pointer;
}

.cadre-service {
  height: 300px;
  -webkit-transform: translate(-100px, -2px);
          transform: translate(-100px, -2px);
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  opacity: 0;
  /* Apparition initiale */
  -webkit-animation: appearFromLeft 0.8s ease-out 0.3s forwards;
          animation: appearFromLeft 0.8s ease-out 0.3s forwards;
}
.cadre-service p {
  font-size: 1.5rem;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}
.cadre-service:hover {
  -webkit-transform: translate(60px, -2px);
          transform: translate(60px, -2px);
}
.cadre-service:hover p {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

@-webkit-keyframes appearFromLeft {
  from {
    -webkit-transform: translateX(-100px) translateY(-2px);
            transform: translateX(-100px) translateY(-2px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes appearFromLeft {
  from {
    -webkit-transform: translateX(-100px) translateY(-2px);
            transform: translateX(-100px) translateY(-2px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
}
.service-titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 60%;
  margin-bottom: 30px;
}
.service-titre p {
  font-size: 1.5rem;
}

.cad {
  margin: 0 0 90px 0;
}

.cadreParagraphe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 2%;
  bottom: 1px;
  height: 340px;
  width: 50%;
  position: absolute;
}
.cadreParagraphe h1 {
  padding: 20px 0 0;
  color: black;
  font-size: 2.5rem;
}
.cadreParagraphe p {
  margin-left: 3%;
  color: rgba(245, 245, 245, 0.7725490196);
}

.apropos h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.apropos .aproposParagraphe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 73px 20px 30px;
}
.apropos .aproposParagraphe img {
  width: 100%;
  height: 410px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px 0;
}
.apropos p {
  font-size: 1.5rem;
  width: 92%;
  height: 325px;
}

.con {
  margin-bottom: 100px;
}

.avis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 50%;
  border: none;
}

.avis-client {
  text-align: center;
  margin: 170px 0 20px 0;
}

.card.cdrNous {
  border: none;
}
.card.cdrNous h1 {
  text-align: center;
  margin-bottom: 20px;
}

.choix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 0 70px 50px 30px;
}
.choix img {
  width: 100%;
}
.choix .choix-texte {
  background: rgba(3, 2, 2, 0.582);
  width: 65%;
  padding: 15px 0 0 0;
}
.choix .choix-texte H1, .choix .choix-texte h2, .choix .choix-texte H3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  color: white;
}
.choix .choix-texte p {
  color: white;
  font-size: 1.5rem;
  margin: 25px 0;
  padding: 0 50px;
}

.footer {
  background-color: #227235;
  padding: 50px 0;
  margin-top: 100px;
}
.footer .footer-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  padding: 0 230px;
}
.footer .footer-columns h4 {
  font-size: 1.5rem;
  padding-bottom: 20px;
  color: white;
}
.footer .footer-section ul {
  list-style-type: none;
  padding: 0;
}
.footer .footer-section li {
  margin-bottom: 10px;
  letter-spacing: 0.05rem;
  color: white;
}
.footer p {
  color: white;
}
.footer .liens-rapides li {
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.footer .liens-rapides li:hover {
  color: #0077b6;
}
.footer .footer-section-adresse li {
  cursor: default;
  color: #000;
}
.footer .footer-section-adresse li:hover {
  color: #000;
}
.footer .footer-bottom {
  margin-top: 30px;
  text-align: center;
  font-size: 0.9rem;
  color: #666;
  border-top: 1px solid #ccc;
  padding-top: 15px;
}
.footer .footer-resaux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}
.footer .footer-reseaux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.savoirPlusF {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 180px;
  margin-top: 50px;
  background: #227235;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.savoirPlusF:hover {
  background: #014ab0;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}/*# sourceMappingURL=index.css.map */