@charset "UTF-8";
.navMenu {
  margin-right: 10% !important;
  gap: 50px;
  background: white;
}
.navMenu li {
  font-weight: bold;
  font-size: 0.9rem;
  color: black;
}
.navMenu li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
.navMenu :hover {
  background: rgba(85, 80, 80, 0.329);
  color: #227235;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.asLlogo img {
  width: 50%;
}

.lienSociaux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 15%;
  margin: 10px 0 0 0;
  margin-left: auto !important;
}
.lienSociaux img {
  width: 10%;
}

.bmn {
  background-color: transparent !important;
  padding: 0;
  margin: 0 0 70px 0;
}

.menu-deroulent li a {
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.918);
  text-decoration: none;
  font-size: 1.2rem;
}

.cadreImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover; /* garde les proportions sans déformation */
}
.cadreImage img {
  height: 80%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* garde les proportions sans déformation */
}
.cadreImage .cadreParagraphe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 5%;
  bottom: -100px;
  height: 340px;
  width: 50%;
  background: rgba(0, 0, 0, 0.5490196078);
  position: absolute;
}
.cadreImage .cadreParagraphe h1 {
  padding: 20px 0 0;
  color: white;
  margin-left: 3%;
}
.cadreImage .cadreParagraphe p {
  margin-left: 3%;
  color: rgba(245, 245, 245, 0.7725490196);
  font-size: 2.5rem;
}

.savoirPlus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 250px;
  top: 680px;
  left: 6.5%;
  background: #227235;
  border: none;
  position: absolute;
  border-radius: 8px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.savoirPlus p {
  margin: 0;
}

.savoirPlus:hover {
  background: #014ab0;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.cadreFac {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  width: 100%;
}
.cadreFac svg.svg-inline--fa.fa-arrow-left,
.cadreFac svg.svg-inline--fa.fa-arrow-right,
.cadreFac button {
  margin-top: -659px;
  font-size: 2rem;
  color: #227235;
  background: transparent;
  border: none;
  cursor: pointer;
}

.footer {
  background-color: #e5edf7;
  padding: 50px 0;
  margin-top: 100px;
}
.footer .footer-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  padding: 0 230px;
}
.footer .footer-columns h4 {
  font-size: 1.5rem;
  padding-bottom: 20px;
  color: #333;
}
.footer .footer-section ul {
  list-style-type: none;
  padding: 0;
}
.footer .footer-section li {
  margin-bottom: 10px;
  letter-spacing: 0.05rem;
  color: #000;
}
.footer .liens-rapides li {
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.footer .liens-rapides li:hover {
  color: #0077b6;
}
.footer .footer-section-adresse li {
  cursor: default;
  color: #000;
}
.footer .footer-section-adresse li:hover {
  color: #000;
}
.footer .footer-bottom {
  margin-top: 30px;
  text-align: center;
  font-size: 0.9rem;
  color: #666;
  border-top: 1px solid #ccc;
  padding-top: 15px;
}
.footer .footer-resaux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}
.footer .footer-reseaux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.savoirPlusF {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 180px;
  margin-top: 50px;
  background: #4dd3ed;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; /* animation douce */
}

.savoirPlusF:hover {
  background: #014ab0;
  -webkit-transform: scale(1.05);
          transform: scale(1.05); /* effet zoom élégant */
}/*# sourceMappingURL=index.css.map */