@use "./setting";
@use "./components/nav";
@use "./components/slide";
@use "./components/service";
@use "./components/apropos";
@use "./components/avis";
@use "./components/gestionEntreprise";
@use "./components/pourquoi";
@use "./components/comptable";
@use "./components/footer";