.cadreParagraphe {
  h1 {
    padding: 20px 0 0;
    color: black;
    font-size: 2.5rem;
  }
  p {
    margin-left: 3%;
    color: #f5f5f5c5;
  }

  display: flex;
  flex-direction: column;
  left: 2%;
  bottom: 1px;
  height: 340px;
  width: 50%;

  position: absolute;
}
.apropos {
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aproposParagraphe {
    display: flex;
    justify-content: center;
    padding: 30px 73px 20px 30px;
    img {
      width: 100%;
      height: 410px;
      object-fit: cover;
      padding: 10px 0;
    }
  }
  p {
    font-size: 1.5rem;
    width: 92%;
    height: 325px;
  }
}
.con{
    margin-bottom: 100px;
}