.avis{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:  0 auto;
    width: 50%;
    border: none;
}
.avis-client{
    text-align: center;
    margin: 170px 0 20px 0;
}