.comp {
  width: 40%;
  h1 {
    color: white;
  }
}
.Compta {
  h2 {
    text-align: center;
    font-weight: bolder;
  }
  img {
    width: 100%;
    margin-bottom: 70px;
    height: 668px;
  }
  .gestion {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  margin-bottom: 200px;
}

.bt {
  left: 43%;
}
