.footer {
  background-color: #227235;
  padding: 50px 0;
  margin-top: 100px;

  .footer-columns {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 0 230px;

    h4 {
      font-size: 1.5rem;
      padding-bottom: 20px;
      color: white;
    }
  }

  .footer-section {
    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      margin-bottom: 10px;
      letter-spacing: 0.05rem;
      color: white;
    }
  }
  p {
    color: white;
  }

  .liens-rapides li {
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: #0077b6;
    }
  }

  .footer-section-adresse li {
    cursor: default;
    color: #000;
    &:hover {
      color: #000;
    }
  }

  .footer-bottom {
    margin-top: 30px;
    text-align: center;
    font-size: 0.9rem;
    color: #666;
    border-top: 1px solid #ccc;
    padding-top: 15px;
  }

  .footer-resaux {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
  }
  .footer-reseaux {
    display: flex;
    justify-content: space-between;
  }
}
.savoirPlusF {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 180px;
  margin-top: 50px;
  background: #227235;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.savoirPlusF:hover {
  background: #014ab0;
  transform: scale(1.05);
}
