.navMenu {
  margin-right: 10% !important;
  gap: 50px;
  background: white;

  li {
    font-weight: bold;
    font-size: 0.9rem;
    color: black;

    a {
      text-decoration: none;
    }
  }
  :hover {
    background: rgba(85, 80, 80, 0.329);
    color: #227235;
  }
}
.asLlogo {
  img {
    width: 50%;
  }
}
.lienSociaux {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 15%;
  margin: 10px 0 0 0;

  margin-left: auto !important;
  img {
    width: 10%;
  }
}
.bmn {
  background-color: transparent !important;
  padding: 0;
}
.menu-deroulent li a {
  text-decoration: none;
  font-size: 0.9rem;
}
