.navMenu {
  margin-right: 4%;
  display: flex;
  gap: 50px;
  

  li {
    list-style: none;
    font-size: 0.9rem;

    a {
      text-decoration: none;
      color: black;
      font-size: 1.2rem;
      transition: color 0.3s ease;
    }

    &:hover a {
      color: #227235;
    }
  }
}

/* Logo */
.asLlogo {
  img {
    width: 200px;
    height: 120px;
    object-fit: contain;
  }
}

/* Réseaux sociaux */
.lienSociaux {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
  margin-top: 10px;

  img {
    width: 28px;
    height: 28px;
    object-fit: contain;
  }
}

/* bouton menu */
.bmn {
  background-color: transparent;
  padding: 0;
  //margin-bottom: 70px;
}

/* menu déroulant */
.menu-deroulent {
  li {
    list-style: none;

    a {
      font-weight: 400;
      color: rgba(0, 0, 0, 0.9);
      text-decoration: none;
      font-size: 1.1rem;
    }
  }
}