.card.cdrNous {
  border: none;
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.choix {
  display: flex;
  gap: 20px;
  padding: 0 50px;
  
  img {
    width: 100%;
  }
  .choix-texte {
    background: rgba(3, 2, 2, 0.582);
    width: 80%;
    padding: 15px 0 0 0;
    H1, h2, H3 {
      width: 90%;
      margin: 0 auto;
      color: white;
    }
    p {
      color: white;
      font-size: 1.2rem;
      
     
      padding: 0 50px;
    }
  }
}
