.card.cdrNous {
  border: none;
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.choix {
  display: flex;
  gap: 20px;
  padding: 0 70px 50px 30px;
  
  img {
    width: 100%;
  }
  .choix-texte {
    background: rgba(3, 2, 2, 0.582);
    width: 65%;
    padding: 15px 0 0 0;
    H1, h2, H3 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      color: white;
    }
    p {
      color: white;
      font-size: 1.5rem;
      margin: 25px 0;
      
     
      padding: 0 50px;
    }
  }
}
