.cadreImage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 800px;
  object-fit: cover; /* garde les proportions sans déformation */

  img {
    height: 80%;
    width: 100%;
    object-fit: cover; /* garde les proportions sans déformation */
  }
  .cadreParagraphe {
    h1 {
      color: white;
      margin-left: 3%;
    }
    p {
        margin-left: 3%;
      color: #f5f5f583;
      font-size: 2.5rem;
    }

    display: flex;
    flex-direction: column;
    left: 2%;
    bottom: 150px;
    height: 330px;
    width: 35%;
    background: #0000009c;
    position: absolute;
  }
}
