.cadreImage {
    display: flex;
    flex-direction: column;
  width: 100%;
  height: 800px;
  object-fit: cover; /* garde les proportions sans déformation */

  img {
    height: 80%;
    width: 100%;
    object-fit: cover; /* garde les proportions sans déformation */
    
  }
  .cadreParagraphe {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
}