.cadreImage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 800px;
  object-fit: cover;

  img {
    height: 80%;
    width: 100%;
    object-fit: cover;
  }
  .cadreParagraphe {
    h1 {
      padding: 20px 0 0;
      color: white;
      margin-left: 3%;
    }
    p {
      margin-left: 3%;
      color: #f5f5f5c5;
      font-size: 2.5rem;
    }

    display: flex;
    flex-direction: column;
    left: 5%;
    bottom: 130px;
    height: 340px;
    width: 50%;

    background: #0000008c;
    position: absolute;
  }
}
.savoirPlus {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 250px;
  top: 680px;
  left: 6.5%;
  background: #227235;
  border: none;
  position: absolute;

  border-radius: 8px;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;

  transition: all 0.3s ease;
  p {
    margin: 0;
  }
}
.savoirPlus:hover {
  background: #014ab0;
  transform: scale(1.05);
}
.cadreFac {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  svg.svg-inline--fa.fa-arrow-left,
  svg.svg-inline--fa.fa-arrow-right,
  button {
    margin-top: -659px;
    font-size: 2rem;
    color: #227235;
    background: transparent;
    border: none;
    cursor: pointer;
  }
}
